<p id="notice"><%= notice %></p>

<body class="bg-secondary text-light d-flex align-items-stretch flex-wrap">

<div class="container-fluid align-items-stretch bg-secondary">
<div class= "text-light  d-flex align-content-end flex-wrap ">
<div class="center jumbotron bg-secondary">  

<h2>Bienvenue <%= @current_user.name %> !</h2>
<br/>
<h3>Voici le secret que tu attendais tant</h3>
<h1> <strong>42</strong> </h1>
<br/>
<%= link_to "Retourner à l'accueil", '/users', method: :get, class: "btn btn-lg btn-primary" %>
